body{
    margin: 0;
    padding: 0;
    color: white;
    background-color: #171b24;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.container header{
    background-color: darkcyan;
    height: 60px;
}

.container header input{
    margin-top: 10px;
    padding: 10px 30px;
    border-radius: 10px;
    outline: none;
    border: none;
    text-align: center;
    background-color: black;
    color: white;
}

#search{
    position: relative;
    font-size: 25px;
    top: 8px;
    right: 40px;
    color: white;
}

.container img{
    height: 100px;
    width: 100px;
    border-radius: 100%;
    margin-top: 50px;
}

.container .headline{
    line-height: 15px;
}

.container .content{
    background-color: #232A37;
    width: 400px;
    margin: 10px;
    border-radius: 10px;
    place-self: center;
}

.container .content .input_group{
    display: flex;
    flex-direction: column;
    place-items: center;
    margin-top: 50px;
}


.input_group input{
    padding: 10px 60px;
    border-radius: 10px;
    border: none;
    background-color: black;
    outline: none;
    color: white;
    text-align: left;
}

.content .input_group i{
    position: relative;
    top: -25px;
    left: -120px;
    color: white;
}

.content button{
    padding: 7px 105px;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: darkcyan;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.content p{
    font-size: 14px;
    color: gray;
}

.content p a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.container footer{
    background-color: darkcyan;
    height: auto;
    margin-top: 20px;
}

