body{
    margin: 0;
    padding: 0;
    background-color: #000b0f;
}

.grid-item{
    background-color: white;

}

.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 200px 12fr 1fr;
    gap: 20px;
    grid-template-areas: 
    'header'
    'judul'
    'main'
    'footer';
}

.header{
    background-color: #0096c7;
    grid-area: header;
}

.header .search{
    text-align: right;
    margin: 20px;
}

.header .search input{
    padding: 10px 30px;
    border: none;
    border-radius: 25px;
    outline-color: #0096c7;
}

.header .search input:focus{
    background-color: #000b0f;
    color: white;
}

.header .search i{
    position: absolute;
    top: 30px;
    right: 35px;
}

.judul{
    grid-area: judul;
    text-align: center;
    background-color: transparent;
    color: white;
}

.judul h1{
    font-size: 40px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.judul p{
    margin-top: 50px;
}

img{
    width: 95%;
    height: 95%;
    object-fit: cover;
    border: 1px solid white;
}

.main{
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    'gambar1 gambar2 gambar3'
    'gambar4 gambar5 gambar6'
    'gambar7 gambar8 gambar9';
    background-color: #000b0f;
    place-items: center;
}

.gambar1{
    grid-area: gambar1;
}

.gambar2{
    grid-area: gambar2;
}

.gambar3{
    grid-area: gambar3;
}

.gambar4{
    grid-area: gambar4;
}

.gambar5{
    grid-area: gambar5;
}

.gambar6{
    grid-area: gambar6;
}

.gambar7{
    grid-area: gambar7;
}

.gambar8{
    grid-area: gambar8;
}

.gambar9{
    grid-area: gambar9;
}

.footer{
    grid-area: footer;
    text-align: center;
    background-color: #0096c7;
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

@media screen and (max-width: 750px){
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 100px 200px auto 1fr;
        grid-template-areas: 
        'header'
        'judul'
        'main'
        'footer';
    }

    .main{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-template-areas: 
        'gambar1 gambar2'
        'gambar3 gambar4'
        'gambar5 gambar6'
        'gambar7 gambar8'
        'gambar9 gambar9';
    }

}


@media screen and (max-width: 550px){
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 100px 200px auto 1fr;
        grid-template-areas: 
        'header'
        'judul'
        'main'
        'footer';
    }
    
    .main{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9, 1fr);
        grid-template-areas: 
        'gambar1'
        'gambar2'
        'gambar3'
        'gambar4'
        'gambar5'
        'gambar6'
        'gambar7'
        'gambar8'
        'gambar9';
    }
}

